[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/bundle/blade-syntax"]
	path = vim/bundle/blade-syntax
	url = https://github.com/xsbeats/vim-blade.git
